services:
  # --- 1. Backend Service (FastAPI) ---
  backend:
    build:
      context: ../
      dockerfile: docker/backend.Dockerfile
    container_name: thetower_backend
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_SERVER: ${POSTGRES_SERVER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: 5432
      SECRET_KEY: ${SECRET_KEY}
      ALGORITHM: ${ALGORITHM}
      ACCESS_TOKEN_EXPIRE_MINUTES: ${ACCESS_TOKEN_EXPIRE_MINUTES}

  # --- 2. Frontend Service (React Build + Caddy Server) ---
  frontend:
    build:
      context: ../
      dockerfile: docker/frontend.Dockerfile
    container_name: thetower_frontend
    depends_on:
      - backend
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"

volumes: {}